#
# Partially taken from:
#   https://github.com/m13253/dns-over-https/blob/master/systemd/doh-client.service
#   https://www.shellhacks.com/systemd-service-file-example/
#

[Unit]
Description=CoreDNS dnsredir
Documentation=https://leiless.github.io/dnsredir/
Before=nss-lookup.target
After=network.target
Wants=nss-lookup.target
Conflicts=systemd-resolved.service

[Service]
Type=simple
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/usr/local/bin/coredns-dnsredir -conf /etc/coredns-dnsredir/%i
LimitNOFILE=262144
Restart=always
RestartSec=5
User=nobody
Group=nobody

[Install]
WantedBy=multi-user.target
Alias=dnsredir.service
